@import './variables/variables.scss';

.experienceDiv {
    position: relative;
    height: 85vh;
    margin: 1rem;
    margin-top: 15vh;
    // z-index: 50;

    h3 {
        color: $orange;
    }
}

.sectionMain {
    position: relative;
    height: 80%;
}

.verticalLine {
    position: absolute;
    left: 50%;
    height: 100%;
    width: 1px;
    border: $green solid 1px;
    animation: draxVerticalLine 1s linear;
}

.firstDot,
.secondDot,
.thirdDot {
    position: absolute;
    left: calc(50% - 6px);
    width: 13px;
    height: 13px;
    border: $green solid 1px;
    background-color: $green;
}

.firstDot {
    top: 5%;
    animation: showFirstDot 1s linear;
}
.secondDot {
    top: 40%;
    animation: showSecondDot 1s linear;
}
.thirdDot {
    top: 70%;
    animation: showThirdDot 1s linear;
}

.firstDiv {
    position: absolute;
    top: calc(5% - 28px);
    left: calc(50% + 24px);
    animation: showExpeFirstDiv 1s linear;
}
.secondDiv {
    position: absolute;
    top: calc(40% - 28px);
    left: calc(50% - 24px);
    text-align: right;
    transform: translateX(-100%);
    animation: showExpeSecondDiv 1s linear;
}
.thirdDiv {
    position: absolute;
    top: calc(70% - 28px );
    left: calc(50% + 24px);
    animation: showExpeThirdDiv 1s linear;
}

.nextSection {
    @extend %nextText;
}

.rotateAni {
    display: inline-block;
    animation: moveUpDown 1s infinite;
}

// Medium devices (tablets, 768px and up)
@media screen and (max-width: 767px) {
    .experienceDiv {
        h3 {
            // font-size: 16px;
        }
        p {
            font-size: 14px;
        }
        .verticalLine {
            left: 40px;
        }
        .firstDot,
        .secondDot,
        .thirdDot {
            left: calc(40px - 6px );
        }

        .firstDiv,
        .secondDiv,
        .thirdDiv {
            text-align: left;
            left: 68px;
        }

        .secondDiv {
            transform: translateX(0);
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media screen and (max-width: 575px) {

}

