@import './variables/variables.scss';

.skillsDiv {
    position: relative;
    height: 85vh;
    margin: 1rem;
    margin-top: 15vh;
    // z-index: 50;
}

// Scroll Animation ***********************
// Reference ******************************
// https://stackoverflow.com/questions/59980269/infinite-horizontal-scrolling-image-loop
// ****************************************
.container {
  height:350px; 
  position:relative; 
  overflow:hidden;
}

.imagebanner {
//   height: 29%;
//   width: 100%;
  position:absolute; 
  top:0px; 
  left:0px; 
  overflow:hidden; 
  white-space: nowrap;
//   animation: bannermove 60s linear infinite;
  background-color: rgba($color: #ffffff, $alpha: 0.2);
  padding-top: 8px;
  padding-bottom: 8px;
}
.imagebannerAnimation {
    animation: bannermove 60s linear infinite;
}
.imagebannerStatic {
    transform: translate(0, 0)
}

.imagebannerSecond {
  position:absolute; 
  top:100px; 
//   left:-500%;
  overflow:hidden; 
  white-space: nowrap;
//   animation: bannermoveReverse 60s linear infinite;
//   animation: bannermove 80s linear infinite;
  background-color: rgba($color: #ffffff, $alpha: 0.2);
  padding-top: 8px;
  padding-bottom: 8px;
}
.imagebannerSecondAnimation {
  animation: bannermove 80s linear infinite;
}
.imagebannerSecondStatic {
    transform: translate(-20%, 0)
}

.imagebannerThird {
  position:absolute; 
  top:200px; 
  left:0%;
  overflow:hidden; 
  white-space: nowrap;
//   animation: bannermove 40s linear infinite;
  background-color: rgba($color: #ffffff, $alpha: 0.2);
  padding-top: 8px;
  padding-bottom: 8px;
}
.imagebannerThirdAnimation {
  animation: bannermove 40s linear infinite;
}
.imagebannerThirdStatic {
    transform: translate(-50%, 0)
}

.imagebanner img,
.imagebannerSecond img,
.imagebannerThird img { 
  margin: 0 2rem;
  height: 80px;
  display: inline-block;
}

// .skills_background_white {
//     background-color: $textWhite;
// }

@keyframes bannermove {
  0% {
      transform: translate(0, 0);
  }
  50% {
      transform: translate(-50%, 0);
  }
  100% {
      transform: translate(0, 0);
  }
}

@keyframes bannermoveReverse {
  0% {
      transform: translate(0, 0);
  }
  50% {
      transform: translate(50%, 0);
  }
  100% {
      transform: translate(0, 0);
  }
}
// Scroll Animation END *******************

// Modal **********************************
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    cursor: pointer;
    width: 440px;
    max-height: 330px;
    // background-color: rgba($color: #101010, $alpha: 0.7);
    // border: $green solid 2px;
    // padding: 0.25rem;
}
// Modal END ******************************
.buttonDiv {
    text-align: center;
}

.button {
    @extend %buttonStyleReset;
    font-family: digit;
    font-size: 24px;
    color: $green;
    text-shadow: 0 0 3px $green;
    border: $green solid 1px;
    padding: 8px;
    &:hover {
        color: $orange;
        text-shadow: 0 0 3px $orange;
        border: $orange solid 1px;
        box-shadow: 0 2px 4px 0 rgba(255, 165, 0, 1), 0 1px 0.5px 0 rgba(255, 165, 0, 1);
    }
;
}

.nextSection {
    @extend %nextText;
}

.rotateAni {
    display: inline-block;
    animation: moveUpDown 1s infinite;
}

@media screen and (max-width: 575px) {
    .modal {
        width: 300px;
        max-height: 330px;
    }
    .imagebannerAnimation {
      animation: none;
      transform: translate(0, 0)
    }
    .imagebannerSecondAnimation {
      animation: none;
      transform: translate(-40%, 0)
    }
    .imagebannerThirdAnimation {
      animation: none;
      transform: translate(-50%, 0)
    }
}

@supports (background: -webkit-named-image(i)) {
  .imagebannerAnimation {
    animation: none;
    transform: translate(0, 0)
  }
  .imagebannerSecondAnimation {
    animation: none;
    transform: translate(-40%, 0)
  }
  .imagebannerThirdAnimation {
    animation: none;
    transform: translate(-50%, 0)
  }
}
