@import './variables/variables.scss';

.worksDiv {
    position: relative;
    height: 85vh;
    margin: 1rem;
    margin-top: 15vh;
    // z-index: 50;
}

.nextSection {
    @extend %nextText;
}

.rotateAni {
    display: inline-block;
    animation: moveUpDown 1s infinite;
}

.comingSoonDiv {
    height: 80%;
    border: $green solid 1px;
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-direction: column;
    // display: grid;
    // grid-template-rows: 1fr 1fr;
}

.comingSoon {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    p {
        margin-left: 16px;
        font-size: 18px;
    }
}

.githubLink {
    align-self: flex-start;
    justify-self: center;
    width: fit-content;
    margin: 0 auto;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    p {
        margin-left: 16px;
        font-size: 16px;
        // &:hover {
        //     color: $orange;
        // }
    }
    // &:hover {
    //     color: $orange !important;
    // }
}

@keyframes moveUpDown {
    0% {
        transform: translateY(-4px) rotate(90deg);
    }
    50% {
        transform: translateY(4px) rotate(90deg);
    }
    100% {
        transform: translateY(-4px) rotate(90deg);
    }
}